/* Main Style for all file
/* Must keep */
/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --brown: #261700;
    --pink: #efe0bb;
    --grey: #dddddd
    --black: #28282B;
    --white: #F9F6EE;
    --bggreen: #90EE90;
    --btnRed: #FFCCCB;
    --btnGreen: #90EE90;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--black);
}

html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* CSS styling for nav */
/* Nav icon */
.icon-container {
    font-size: 1.2rem;
}

/* nav wrapper */
.nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    z-index: 1;
    position: fixed;
    transition: 0.3s ease-in-out;
}

.nav-wrapper * {
    font-weight: bolder;
}

/* nav content wrapper */
.nav-content {
    display: flex;
}

/* nav contents */
.nav-item,
.top-icon {
    display: block;
    padding: 1rem;
    color: var(--black);
}

.nav-item:hover,
.nav-item:hover .dp-title,
.nav-item:hover i,
.top-icon:hover,
.top-icon:hover i,
.nav-item.active:hover {
    cursor: pointer;
    background-color: var(--pink);
    color: var(--black);
}

.nav-item.dropdown.active:hover *:not(.nav-item:not(.active)) {
    color: var(--black);
}

.nav-wrapper:not(.nav-scrolled) .nav-item.dropdown.active .nav-item.nav-item.active {
    color: var(--black);
    background-color: var(--pink);
}

.nav-item.dropdown.active .nav-item:not(.active):hover {
    background-color: var(--pink);
    color: var(--black);
}

/* Dropdown for nav */
.dropdown {
    position: relative;
}

.dropdown-content {
    width: 250px;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: var(--brown);
}

.dropdown-content * {
    color: var(--white);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* nav color on scroll */
.nav-scrolled {
    background-color: var(--brown);
}

.nav-scrolled * {
    color: var(--white);
}

/* Responsive nav */
.top-icon {
    display: none;
}

/* Active nav link */
.nav-item.active {
    background-color: var(--brown);
}
.nav-item.dropdown.active * {
    color: var(--white);
}

.nav-wrapper.nav-scrolled .nav-item.active {
    background-color: var(--pink);
    color: var(--black);
}

.nav-wrapper.nav-scrolled .nav-item.dropdown.active > .dp-title, .nav-wrapper.nav-scrolled .nav-item.dropdown.active > .dp-title>i {
    color: var(--black);
}

/* popup form */
#logoutForm
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.4);
}
.popupFormLogout {
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--black);
    padding: 1rem;
    width: min(80%, 500px);
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
}
h3{
    columns: var(--black);
}
.header-cont{
    display: flex; 
    flex-direction: row
}
.icon-box{
    display:flex; 
    margin-right:0.5rem;
    margin: 1rem 1rem 0 1rem;
}

.headertext-logout {
    padding-bottom: 1rem;
}

.headertext-logout>small {
    font-weight: 100;
    text-align: center;
}
.form-btnarea{
    display: flex;
    justify-content: flex-end;
}
.buttonno{
    background-color: var(--grey);
    width: 5rem;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 1rem;
}
.buttonyes{
    background-color: #90EE90;
    color: green;
    width: 5rem;;
    border: none;
    padding: 0.5 1rem;
    cursor: pointer;
    border-radius: 5px;
}

/* Footer styling */
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding-inline: 4rem;
    background-color: var(--brown);
}

.footer-wrapper * {
    color: var(--white);
}

.footer-logowrap {
    font-size: 3rem;
    font-weight: 900;
    padding: 1rem 0;
}

.footer-addwrap {
    padding: 1rem 0;
    font-size: 0.8rem;
    border-top: 2px solid var(--white);
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.footer-contact {
    margin: 1rem 0;
}

.foot-item {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    align-items: center;
}

.foot-info {
    display: flex;
    flex-direction: column;
}

/* Main Content */
.main-content {
    width: 100%;
    display: flex;
    min-height: 100vh;
}

.main-left {
    padding: 8rem 0;
    flex: 1;
    background-color: white;
    border-right: 2px solid var(--black);
}

.main-left>form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.spanfn {
    text-align: center;
    font-size: clamp(0.9rem, 0.4714rem + 1.3714vw, 1.5rem);
}

.spanln {
    text-align: center;
    font-size: clamp(0.8rem, 0.6571rem + 0.4571vw, 1rem);
}

.main-left>form>button {
    width: min(80%, 160px);
    background-color: var(--pink);
    padding: 0.5rem 0;
    border: unset;
    outline: unset;
    border-radius: 25px;
    box-shadow: 0 5px 10px grey;
    cursor: pointer;
    font-weight: 600;
    font-size: clamp(0.7rem, 0.4857rem + 0.6857vw, 1rem);
}

.main-right {
    padding: 6rem 2rem 0 ;
    flex: 3;
}

.main-right>form>i {
    display: flex;
    width: 10rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    background-color: var(--pink);
    color: var(--black);
    font-size: 7rem;
}

.profile:not(.delete-acc) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.delete-acc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0 0 10px var(--black);
    padding: 1rem;
    width: min(80%, 500px);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}

.profile:not(.delete-acc)>div:not(.button-area):not(.form-heading):not(.error-box):not(.pass-requirements) {
    width: min(100%, 500px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-form {
    display: flex;
}

.contact-form>input:first-child {
    width: min(30%, 55px);
}

.contact-form>input:nth-child(2) {
    width: 100%;
}

input {
    padding: 0.5rem;
}

.form-heading {
    font-size: clamp(1.2rem, 0.6286rem + 1.8286vw, 2rem);
    font-weight: 600;
}

strong {
    text-align: justify;
}

.delete-acc>div:not(.button-area):not(.form-heading) {
    width: min(100%, 500px);
    display: grid;
    grid-template-columns: 1fr;
}

/* Pass Requirements */
.pass-requirements {
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: min(100%, 500px);
    background-color: var(--pink);
}
.pass-requirements > span {
    font-weight: 600;
}
.requirement {
    font-size: 0.75rem;
}
.password-space {
    position: relative;
}
.password-space i {
    //position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(-150%, 0);
}
/* for error message */ 
.error {
    font-size: 0.6rem;
    color: red;
    font-weight: 600;
}
.error.pass {
    display: none;
}

/* for buttons */
button {
    cursor: pointer;
    transition: 0.6s ease;
}

button:hover {
    text-decoration: underline;
}

.main-left>form>button:hover {
    background-color: var(--brown);
    color: var(--white);
}

.button-area {
    width: min(100%, 500px);
    margin-bottom: 2rem;
}


.button-area{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.button-area button,
.form-btnarea button {
    width: 5rem;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    border: none;
    box-shadow: 0 0 10px grey;
    font-weight: 600;
}

.button-area button:first-child{
    background-color: var(--btnRed);
    color: red;
}

.button-area button:nth-child(2){
    background-color: var(--btnGreen);
    color: green;
}

/* popup form */
#confirmDel,
#logoutForm,
#deleteForm,
#clearForm,
#submitForm {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.4);
}
#confirmDel {
    display: flex;
}
.popupForm {
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0 0 10px var(--black);
    padding: 1rem;
    width: min(80%, 350px);
    text-align: center;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headertext-box {
    font-size: 1.2rem;
    font-weight: 600;
}

.headertext-box>small {
    font-weight: 100;
    text-align: center;
}



/* screen size control */
/* query screen size for font change */
@media screen and (max-width: 767px) {
    .nav-content * {
        font-size: 0.8rem;
    }
}

/* query screen size for display */
@media screen and (max-width: 705px) {

    /* for nav*/
    .nav-wrapper {
        padding: 0;
    }

    .navicon-wrapper {
        display: none;
    }

    .nav-content div:not(:first-child) {
        display: none;
    }

    .top-icon {
        display: block;
    }

    .nav-content.responsive {
        position: absolute;
        width: 70%;
        top: 0;
        left: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        z-index: 2;
        background-color: var(--brown);
    }

    .nav-content.responsive * {
        color: var(--white);
    }

    .nav-content.responsive .nav-item {
        display: block;
    }

    .nav-item {
        padding-inline: 0;
    }

    .nav-item:hover {
        color: var(--black);
    }

    .nav-item.dropdown:hover {
        background-color: initial;
    }

    .nav-item.dropdown {
        padding: none;
    }

    .dp-title {
        display: none;
    }

    .nav-wrapper .nav-content {
        overflow: auto;
    }
    
    .nav-content .nav-item.dropdown {
        padding: unset;
    }

    .nav-item.dropdown .dropdown-content {
        width: 100%;
        position: initial;
        display: block;
        background-color: var(--brown);
    }

    .dropdown-content * {
        color: var(--white);
    }

    /* for footer */
    .footer-wrapper {
        flex-direction: column;
    }

    .foot-info,
    .footer-addwrap {
        font-size: 0.6rem;
    }


    /* main content */
    .main-content {
        flex-direction: column;
    }

    .main-left {
        height: auto;
        padding: 3rem 0.5rem 1rem;
        border: unset;
        border-bottom: 2px solid var(--black);
    }

    .main-left > form {
        flex-direction: row;
        align-items: stretch;
        gap: unset;
    }

    .main-left > form > button {
        background-color: inherit;
        border-radius: unset;
        box-shadow: unset;
        transition: unset;
    }

    .main-left > form > button:hover {
        background-color: unset;
        color: var(--black);
    }

    .spanln {
        display: none;
    }

    .main-right {
        margin-bottom: 4rem;
    }

    .main-right > form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}