/* Main Style for all file
/* Must keep */
/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --brown: #261700;
    --pink: #efe0bb;
    --grey: #dddddd
    --black : #28282B;
    --white: #F9F6EE;
}
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--black);
}
html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--grey);
}

/* CSS styling for nav */
/* Nav icon */
.icon-container, .icon-container * {
    font-size: 1.2rem;
    color: var(--white);
}
/* nav wrapper */
.nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    z-index: 1;
    position: fixed;
    transition: 0.3s ease-in-out;
}

.nav-wrapper * {
    font-weight: bolder;
}

/* nav content wrapper */
.nav-content {
    display: flex;
}

/* nav contents */
.nav-item,
.top-icon {
    display: block;
    padding: 1rem;
    color: var(--white);
}
.nav-item > span, i{
    color: var(--white);
}

.nav-item:hover,
.nav-item:hover .dp-title,
.nav-item:hover i,
.top-icon:hover,
.top-icon:hover i,
.nav-item.active:hover {
    cursor: pointer;
    background-color: var(--pink);
    color: var(--black);
}

/* Dropdown for nav */
.dropdown {
    position: relative;
}

.dropdown-content {
    width: 250px;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: var(--brown);
}

.dropdown-content * {
    color: var(--white);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* nav color on scroll */
.nav-scrolled {
    background-color: var(--brown);
}

.nav-scrolled * {
    color: var(--white);
}

.nav-scrolled #logoutForm * {
    color: var(--black);
}


/* Responsive nav */
.top-icon {
    display: none;
}

/* Active nav link */
.nav-item.active{
    background-color: var(--brown);
    color: var(--white);
}

.nav-wrapper.nav-scrolled .nav-item.active{
    background-color: var(--pink);
    color: var(--black);
}


/* Dropdown for nav */
.dropdown {
    position: relative;
}
.dropdown-content {
    width: 250px;
    top: 100%;
    left: 0;
    display: none;
    position: absolute;
    z-index: 2;
    background-color: var(--brown);
}
.dropdown-content * {
    color: var(--white);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.nav-scrolled.nav-wrapper .nav-item.dropdown.active *:not(.nav-item:not(.active)) {
    color: var(--black);
}

/* Login Popup Styling */
.login-cover {
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.login-form {
    width: min(90%, 400px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    border: 1px solid var(--black);
    box-shadow: 0 0 20px var(--black);
    overflow: hidden;
    border-radius: 20px;
    background-color: var(--white);
}

.close-icon {
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: 2rem;
    color: red;
    cursor: pointer;
}

.login-header {
    font-size: 1.5rem;
    font-weight: 900;
}

.error-message {
    width: 100%;
}

.error-dialogue {
    margin: 2rem 0;
    display: block;
    width: 100%;
    background-color: var(--pink);
    text-align: center;
    padding: 0.5rem 0;
    color: red;
}

.loginform-wrapper {
    width: 90%;
    margin-top: 0;
}

.loginform-wrapper form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginform-wrapper form span {
    display: block;
    width: 100%;
}

.form-input {
    width: 100%;
    margin: 4px 0;
    position: relative;
}

.form-input input {
    width: 100%;
    padding: 8px 2%;
    border: 1px solid var(--black);
    outline: none;
}

#pass-icon {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
}

a {
    color: blue;
}

.loginform-wrapper form button {
    margin: 16px 0;
    padding: 8px 16px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 25px;
    border: none;
    background: var(--bggreen);
    outline: none;
    box-shadow: 0 2px 10px var(--black);
    cursor: pointer;
    transition: 0.4s ease;
}

.loginform-wrapper form button:hover {
    scale: 1.1;
    box-shadow: var(--bggreen);
}

.loginform-wrapper form span:first-child,
.loginform-wrapper form span:nth-child(3) {
    font-weight: 600;
}

.loginform-wrapper form span:last-child {
    text-align: center;
}

/* popup form */
#logoutForm
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.4);
}
.popupFormLogout{
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--black);
    padding: 1rem;
    width: min(80%, 500px);
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
}
h3{
    columns: var(--black);
}

.header{
    padding-bottom: 1rem;
}

.header>small {
    font-weight: 100;
    text-align: center;
}
.form-btnarea{
    display: flex;
    justify-content: flex-end;
}

/* Footer styling */
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding-inline: 4rem;
    background-color: var(--brown);
}
.footer-wrapper * {
    color: var(--white);
}
.footer-logowrap {
    font-size: 3rem;
    font-weight: 900;
    padding: 1rem 0;
}
.footer-addwrap {
    padding: 1rem 0;
    font-size: 0.8rem;
    border-top: 2px solid var(--white);
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.footer-contact {
    margin: 1rem 0;
}
.foot-item {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    align-items: center;
}
.foot-info {
    display: flex;
    flex-direction: column;
}

/* sample content */ 
.main-content {
    height: 60vh;
    width: 100%;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(Photos/header.png) center/cover no-repeat;
    display: flex;
    align-items: center;
}
.main-content-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}
.main-content-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: white;
}
.content-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}
.body-content{
    width: min(100%, 1000px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.filter-cont {
    display: flex;
    margin: 1rem 2rem 0 0;
}
.view-header {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0 0 0 0.8rem;
    position: relative;
    width: fit-content;
    cursor: pointer;
}
.record-filter {
    position: absolute;
    top: 110%;
    left: 1rem;
    width: 100%;
    display: none;
    flex-direction: column;
    background-color: var(--white);
    //color: var(--white);
    z-index: 99;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.view-header > i{
    color: var(--black);
}
.record-filter > button {
    font-size: 1rem;
    background-color: var(--white);
    border: none;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    color: var(--black);
    padding: 1rem 0;
    width: auto;
}
.record-filter > button:hover {
    color: var(--black);
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.2);
}
.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 1rem 0;
    box-shadow: 5px 5px 15px grey ;
}
.details-container{
    width: 100%;
    margin: 1rem 0;
    border-radius: 20px;
}
.indiv-cont{
    margin: 0 0 1rem 0;
    background-color: white;
    border-bottom: 3px solid var(--grey);
    padding: 1rem 0;
}
.reference{
    font-size: 1.5rem;
    font-weight: 600;
}
.viewmore{
    width: auto;
    border: none;
    color: blue;
    background-color: transparent;
    padding: 0%;
    margin: 0%;
}
.viewmore:hover{
    color: black;
}
.display-details-bi{
    display: grid;
	grid-template-columns: repeat(2, 1fr);
}
form{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
button{
    width: 19%;
    font-size: clamp(0.5rem, 0.25rem + 0.8vw, 1rem);
}
.icon-box{
    margin: auto;
    padding-right: 1rem;
}
i:not(.fa-solid, .fa-brands){
    color: orange;
}
.form-btnarea{
    display: flex;
    justify-content: flex-end
}
    
.button-cont{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.buttoncancel{
    background-color: transparent;
    color: red;
    width: 5rem;    
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.buttonresched{
    background-color: transparent;
    color: blue;
    width: 5rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.popupresched{
    background-color: rgba(0, 0, 255, 0.2);
}
.buttonno{
    background-color: var(--grey);
    width: 5rem;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 1rem;
}
.buttonyes{
    background-color: #90EE90;
    color: green;
    width: 5rem;;
    border: none;
    padding: 0 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.popupCover{
    z-index: 900;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
.popupForm {
	width: min(90%, 600px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px var(--black);
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--white);
    padding: 2rem;
}
.form{
    display:flex; 
    flex-direction: column;
}
td{
    padding-right: 1rem;
}
.popupCover-reason{
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
.popupForm-reason {
	width: min(90%, 700px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    border: 1px solid var(--black);
    box-shadow: 0 0 20px var(--black);
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--white);

}
.reason-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}
.form-reason{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;

}
.header-cont{
    display: flex; 
    flex-direction: row
}
.header-cont >.icon-box{
    display:flex; 
    margin-right:0.5rem;
    margin: 1rem 1rem 0 1rem
}
.headertext-box{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}
.other{
    display: flex;
    flex-direction: column;
}
.othertext{
    display: none;
    margin-left: 1.5rem;
}

.form-area{
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    width: 80%;
}

/* FOR POP UP MESSAGE */
.popupCover-message{
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    position: fixed;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
.popupMessage {
	width: min(85%, 500px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 5rem;
    border: 1px solid var(--black);
    box-shadow: 0 0 10px var(--black);
    overflow: hidden;
    border-radius: 20px;
    background-color: var(--white);
}

/* screen size control */
@media screen and (max-width: 767px) {
    .nav-content * {
        font-size: 0.8rem;
    }
}
@media screen and (width <= 705px) {
    /* for nav*/
    .nav-wrapper {
        padding: 0;
    }

    .navicon-wrapper {
        display: none;
    }

    .nav-content div:not(:first-child) {
        display: none;
    }

    .top-icon {
        display: block;
    }

    .nav-content.responsive {
        position: absolute;
        width: 70%;
        top: 0;
        left: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        z-index: 2;
        background-color: var(--brown);
    }

    .nav-content.responsive * {
        color: var(--white);
    }

    .nav-content.responsive .nav-item {
        display: block;
    }

    .nav-item {
        padding-inline: 0;
    }

    .nav-item:hover {
        color: var(--black);
    }

    .nav-item.dropdown:hover {
        background-color: initial;
    }

    .nav-item.dropdown {
        padding: none;
    }

    .dp-title {
        display: none;
    }

    .nav-wrapper .nav-content {
        overflow: auto;
    }
    
    .nav-content .nav-item.dropdown {
        padding: unset;
    }

    .nav-item.dropdown .dropdown-content {
        width: 100%;
        position: initial;
        display: block;
        background-color: var(--brown);
    }

    .dropdown-content * {
        color: var(--white);
    }

    /* for body*/
    /* status dropdown*/
    .filter-cont{
        padding: 0 1.5rem;
    }
    .reference{
        font-size: 1rem;
        font-weight: 600;
    }
    td{
        font-size: 0.9rem;
    }
    .viewmore, .buttonresched, .buttoncancel{
        font-size: 0.9rem;
    }

    /* for footer */
    .footer-wrapper {
        flex-direction: column;
    }
    .foot-info, .footer-addwrap {
        font-size: 0.6rem;
    }
}

/* Popup View */
.view-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}
.view-card {
    background-color: var(--white);
    max-height: 85vh;
    overflow-y: scroll;
    height: auto;
    box-shadow: 0 0 10px var(--black);
    padding: 1rem;
    width: min(100%, 1100px);
    display: flex;
    position: relative;
    flex-direction: column;
}
.view-heading{
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 600;
}
.inner-view-heading1, .inner-view-content1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}
.inner-view-heading2, .inner-view-content2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}
.inner-view-heading1, .inner-view-heading2 {
    font-size: 0.8rem;
    font-weight: 600;
}

.inner-view-content1, .inner-view-content2 {
    margin-bottom: 1rem;
    font-size: 1rem;
}
.inner-view-content1 > span, .inner-view-content2 > span {
    text-wrap: wrap;
    display: block;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--black);
}
.closeme {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: unset;
    cursor: pointer;
    background-color: red;
    transition: 0.4s ease-in-out;
}
.closeme > i {
    font-size: 1.5rem;
    color: var(--white);
}
.closeme:hover {
    box-shadow: 0 0 10px var(--grey);
    scale: 1.1;
}

/* Pagination Styling */
.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
    margin-top: 1rem;
}
.pagination > a {
    display: block;
    font-size: 0.8rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: white;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: blue;
}
.pagination > a.active {
    background-color: var(--brown);
    color: var(--white);
}

/* For Hidden Forms */
.for-search {
    display: none;
}

table {
    width: 100%;
    padding: 0 2rem;
    table-layout: fixed;
}
.th{
    display: flex;
    flex-direction: row;
}

td, p{
    text-align: left;
    padding: 0%;
    margin: 0%;
}

.Pending, .Accepted, .Completed, .Rejected, .Canceled{
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    padding: 0 10px;
    margin:auto 0 auto 10px;
} 
.Pending{
    background-color: rgba(255, 221, 0, 0.5);
    color: rgb(135, 122, 3);
}
.Accepted{
    background-color: rgba(0, 0, 255, 0.2);
    color: blue;
}
.Completed{
    background-color: rgba(0, 255, 0, 0.2);
    color: green;
}
.Rejected, .Canceled{
    background-color: rgba(255, 0, 0, 0.2);
    color: red;
}
/*div{
    border: 1px solid red;
}*/
